<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'dialog'" [opened]="!(isHandset$ |async)" [mode]="(isHandset$ | async) ? 'over' : 'side'">

        <mat-toolbar style="cursor: pointer;" routerLink="/">⚕ Remote Health</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/">🏠 Dashboard</a>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            🏃‍♂️ Activity
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        <button mat-button routerLink="/activityLog" style="width:190px;">
                            🔥 Activity Log
                        </button>
                        <br>
                        <button mat-button routerLink="/activityCalendar" style="width:190px;">
                            📅 Calendar
                        </button>
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            🚀 Connect
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        <button mat-button routerLink="/findDoc" style="width:190px;"> 
                        <span>👨‍⚕️ Find A Doctor</span>
                        </button>
                        <br>
                        <button mat-button routerLink="/postquestions" style="width:190px;">
                        <span>❔ Post A Question</span>
                    </button>
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="setting" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ⚙ Setting
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <button mat-button routerLink="/findDoc" style="width:190px;"> 
                            <span>🔑 Login</span>
                            </button>
                    </div>
                    <button mat-button routerLink="/profile" style="width:190px;">
                        <span>👹 Profile</span>
                    </button>
                </mat-expansion-panel>

            </mat-accordion>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async ">
                <mat-icon aria-label="side nav toggle icon">menu</mat-icon>
            </button>
            <span style="position: absolute; left:45%;">Dashboard</span>
        </mat-toolbar>

        <ng-content></ng-content>

    </mat-sidenav-content>

</mat-sidenav-container>