<mat-card class="Main_card">
    <mat-card-header style="margin-left: 13%;">
        <!-- <div mat-card-avatar class="header-image"></div> -->
        <mat-card-title>Support Service</mat-card-title>
        <mat-card-subtitle>We valued all of our user</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfSorF6SLqHRmOrRrSjQIlfz_GNMoQz49-Ehd-0co2LEoui7A/viewform?embedded=true" width="750" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </mat-card-content>
</mat-card>