h1 {
    font-weight: bold;
}

button {
    img {
        height: 70px;
    }
    font-size: 16pt;
    margin-top: 50px;
    min-height: 100px;
    border-radius: 20px;
}

:host {
    text-align: center;
}