<main>
    <div *ngIf="!(gAuth.authState | async)">

        <button mat-raised-button (click)="signIn()">
            <img src="/assets/google-icon.svg" /> Login With Google
        </button>
    </div>

    <br>
    <br>
    <p style="font-size: 20pt; font-weight: bold;">OR</p>
    <br><br>
    <app-email-login></app-email-login>

    <div *ngIf="gAuth.authState |async as user" class="logout">
        <p>
            Logged in as <strong>{{user.email}}</strong>
        </p>
        <button mat-stroked-button (click)="logout()">Logout</button>
    </div>

</main>