<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Patient Profile</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <span *ngIf="patCred">
            <!-- Profile Picture -->
            <br><br>
            <img class="profilePic" [src]="'assets/cat.jpg'">
            <br><br>
            <!--First name -->
            <div class="profile shadow">
                <div >
                    <h2 style="display: inline;">
                        First Name :&nbsp; &nbsp;
                    </h2>
                    <p style="display: inline;">{{patCred?.fName}}</p>
                </div>
            </div>
            <!-- Last Name -->
            <div class="profile shadow">
                <h2 style="display: inline;">
                    Last Name :&nbsp; &nbsp;
                </h2>
                <p style="display: inline;">{{patCred?.lName}}</p>
            </div>
            <!-- gender -->
            <div class="profile shadow">
                <h2 style="display: inline;">
                    Sex &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp; &nbsp;
                </h2>
                <p style="display: inline;">{{patCred?.gender}}</p>
            </div>
            <!-- birthdate -->
            <div class="profile shadow">
                <h2 style="display: inline;">
                    Birthdate &nbsp; &nbsp;:&nbsp; &nbsp;
                </h2>
                <p style="display: inline;">{{patCred?.birthdate | date:'longDate'}}</p>
            </div>
            <!-- Height -->
            <div class="profile shadow">
                <h2 style="display: inline;">
                   Height &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp; &nbsp;
                </h2>
                <p style="display: inline;">{{patCred?.height}}</p>
            </div>
            <!-- Weight -->
            <div class="profile shadow">
                <h2 style="display: inline;">
                    Weight &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp; &nbsp;
                </h2>
                <p style="display: inline;">{{patCred?.weight}}</p>
            </div>
        </span>
    </mat-card-content>
</mat-card>