<div class="logBoard">

    <app-activity-log *ngFor="let board of activityBoard" [board]="board" (click)="showLogDetails(board)"></app-activity-log>

</div>

<div class="logDetails">
    <h1>Activity Details 🥇</h1>
    <div class="log-content" *ngIf="isDisplayed">

        <mat-grid-list cols="10" rowHeight="100px">
            <mat-grid-tile colspan="3" rowspan="1" class="right_border bot_border">
                <div class="align-left">
                    <h1 class="contentTitle">{{title}}</h1>
                    <div class="date">
                        {{activityDate | date:'longDate'}}
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="5" rowspan="2" class="right_border">
                <div class="desp">
                    <span class="mid-header" style="display: incline-block;">Description :</span>
                    <button mat-flat-button class="note-button">Edit</button>
                    <p class="notes">{{notes}}</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="2" class="bot_border">
                <div class="dispTime">
                    <h1 style="font-size: 25pt; border-bottom: 1px solid white;">Time</h1>
                    <br>
                    <h2 class="timeHeader">Start : </h2>
                    <h2 class="timeHeader" style="margin-left: 20px;">{{timeStart | date:'shortTime'}}</h2>
                    <h2 class="timeHeader">Finish :</h2>
                    <h2 class="timeHeader" style="margin-left: 10px;">{{timeEnd | date:'shortTime'}}</h2>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="1" class="right_border">
                <div class="feel">
                    <h2 class="mid-header">How did you feel?</h2>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

    </div>

    <div id="divChart">
        <canvas id="myChart"></canvas>
    </div>


</div>