.window {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    height: 500px;
    width: 700px;
}

.full-width {
    width: 100%;
}

.two-line {
    min-width: 90%;
}

.header {
    border-bottom: white solid 1px;
    line-height: 30px;
    text-align: center;
}