<mat-card class="window">

    <h2 class="header">Profile Setup</h2>

    <mat-card-content>
        <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">


            <mat-form-field class="full-width" appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput formControlName="fname" autocomplete="off" type="text" />
                <mat-error *ngIf="fname?.hasError('required')">input required</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lname" autocomplete="off" type="text" />
                <mat-error *ngIf="lname?.hasError('required')">input required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Sex</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="gender?.hasError('required')">You must make a selection</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Birth Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthdate?.hasError('required')">Date required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Height (CM)</mat-label>
                <input matInput formControlName="height" autocomplete="off" type="number" />
                <mat-error *ngIf="height?.hasError('required')">Input required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Weight (KG)</mat-label>
                <input matInput formControlName="weight" autocomplete="off" type="number" />
                <mat-error *ngIf="weight?.hasError('required')">Input required</mat-error>
            </mat-form-field>

            <mat-error class="server-error">{{ serverMessage }}</mat-error>
            <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || loading">
            submit
            </button>

        </form>
    </mat-card-content>
    <mat-card-header>
        <h4 style="color: rgb(30, 175, 219);">*User profile must be completed in order to use all available feature</h4>
    </mat-card-header>
</mat-card>