<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
</mat-form-field>

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
            <td mat-cell *matCellDef="let row"> {{row.owner}} </td>
        </ng-container>

        <ng-container matColumnDef="reqTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
            <td mat-cell *matCellDef="let row"> {{row.reqTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
            <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="connStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="acceptPatient()">Accept</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" aria-label="Select page of chatSessionList"></mat-paginator>
</div>

<div *ngFor="let id of chatSessionList">
    {{id.id}}
</div>